<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" dir="ltr">
      <link href="css/result.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <title>
         RESULT
      </title>
   </head>
   <body>
      <div class="header">
         <h1> RESULT GAME </h1>
      </div>
      <div class="body">
         <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Room</th>
                <th scope="col">results</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < data.length; i++) { %>
              <tr>
                <th scope="row"><%=i+1%></th>
                <td><%= data[i].RoomId %></td>
                <td><%= data[i].results %></td>
              </tr>
              <% } %>
            </tbody>
          </table>
      </div>
   </body>
</html>